## Functions in Python
1. Built-in Functions
2. User-defined Functions
3. Anonymous Functions (Lambda Functions)
4. Recursive Functions
5. High-order Functions

### Built-in Functions

In [1]:
print('hey there')

hey there

In [2]:
len('hhhhhhhhh')

9

In [3]:
type(1)

int

In [4]:
numbers = [1, 2, 3, 4, 5]

In [5]:
min(numbers)

1

In [6]:
max(numbers)

5

In [7]:
sum(numbers)

15

### User-defined Functions

In [8]:
def greet(name):
    print(f'hello, {name}')

In [9]:
greet('bhanu')

hello, bhanu

In [10]:
def greet(name='bhanu'):
    print(f'hello, {name}')

In [11]:
greet()

hello, bhanu

In [12]:
greet(name='test')

hello, test

In [13]:
def add(a, b):
    return a + b

result = add(7, 4)
result

11

In [14]:
result = add(17, 14)
result

31

In [15]:
def find_average(numbers):
    return sum(numbers)/len(numbers)


nums = [1, 2, 3, 4, 5, 6, 7]
average = find_average(nums)
average

4.0

In [16]:
def to_uppercase(string):
    return string.upper()


original_string = 'hello, all'
upper_string = to_uppercase(original_string)
upper_string

'HELLO, ALL'

In [17]:
def add_all(*args):
    return sum(args)

In [18]:
result = add_all(1, 3, 5, 6, 7, 8)
result

30

In [19]:
def add_all(*bhanu):
    return sum(bhanu)

In [20]:
add_all(1, 3, 5, 6, 7, 8, 9)

39

In [21]:
def create_dict(**kwargs):
    return kwargs

In [22]:
my_dict = create_dict(a=1, b=2, c=3, d=4)
my_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [23]:
def create_student_record(name, age, **kwargs):
    record = {
        'name': name,
        'age': age,
        'grades': kwargs
    }
    return record

In [24]:
student_record = create_student_record(
    'Tom H',
    25,
    math=90,
    english=95,
    science=89
)
student_record

{'name': 'Tom H',
 'age': 25,
 'grades': {'math': 90, 'english': 95, 'science': 89}}

In [25]:
student_record = create_student_record(
    'John C',
    30,
    physics=90,
    chemistry=95
)
student_record

{'name': 'John C', 'age': 30, 'grades': {'physics': 90, 'chemistry': 95}}

### Anonymous Functions (Lambda Functions)

In [26]:
# Syntax
# store_name = lambda <parameter>: <function_body>

In [27]:
def add(x, y):
    return x + y

In [28]:
add = lambda x, y: x + y

In [29]:
add(1,2)

3

In [30]:
square = lambda x: x ** 2
square(5)

25

In [32]:
multipy = lambda x, y: x * y
multipy(5, 6)

30

In [33]:
['hello', 'there'] # input
['HELLO', 'THERE'] # output

['HELLO', 'THERE']

In [34]:
make_upper = lambda strings: [string.upper() for string in strings]
original_string = ['hello', 'there']
make_upper(original_string)

['HELLO', 'THERE']

### Recursive Functions
* base case defined

In [ ]:
# 5! = 5 x 4 x 3 x 2 x 1

In [ ]:
# n! = n x (n - 1) x (n - 2) x ... x 1

In [51]:
def factorial(n):
    if n == 1:
        return 1
    print(n)
    return n * factorial(n - 1)

In [52]:
factorial(5)

5
4
3
2

120

### High-order Functions

In [53]:
def apply_twice(func, arg):
    return func(func(arg))

def add_ten(x):
    return x + 10

In [54]:
apply_twice(add_ten, 10)

30

In [55]:
def apply_function(func, num):
    return func(num)

In [56]:
apply_function(add_ten, 10)

20

In [57]:
def apply_to_list(nums, func):
    return [func(num) for num in nums]

def square(x):
    return x ** 2

nums = [1, 2, 3, 4, 5]
squared_nums = apply_to_list(nums, square)
squared_nums

[1, 4, 9, 16, 25]

#### `map()` Function

In [58]:
nums

[1, 2, 3, 4, 5]

In [60]:
squared_nums = map(square, nums)
list(squared_nums)

[1, 4, 9, 16, 25]

In [61]:
squared_nums = map(lambda x: x ** 2, nums)
list(squared_nums)

[1, 4, 9, 16, 25]

In [62]:
words = ['hello', 'there']
uppercase_words = map(str.upper, words)
list(uppercase_words)

['HELLO', 'THERE']

In [63]:
nums_1 = [1, 2, 3]
nums_2 = [4, 5, 6]

result = map(lambda x, y: x + y, nums_1, nums_2)
list(result)

[5, 7, 9]

#### `filter()` Function

In [64]:
nums = [1, 2, 3, 4, 5, 6, 7 , 8 , 9, 10]
even_nums = filter(lambda x: x%2 == 0, nums)
list(even_nums)

[2, 4, 6, 8, 10]

In [66]:
fruits = ['apple', 'banana', 'orange', 'Avocado', 'mango']
a_fruits = filter(lambda x: x[0] in ['a', 'A'], fruits)
list(a_fruits)

['apple', 'Avocado']

In [67]:
# filter condition
def is_long_word(word):
    return len(word) > 5

words = ['hello', 'world', 'python', 'programming']
long_words = filter(is_long_word, words)
list(long_words)

['python', 'programming']

#### `reduce()` Function

In [68]:
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
from functools import reduce

nums = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, nums)
product

120

In [72]:
words = ['hello', ' ', 'world', ' ', 'python', ' ', 'programming']

In [73]:
sentence = reduce(lambda x, y: x + y, words)
sentence

'hello world python programming'

In [75]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 20, 1, 4]

In [76]:
maximum = reduce(lambda x, y: x if x > y else y, nums)
maximum

100

In [77]:
max(nums)

100

#### `range()` Function

In [88]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]