In [1]:
my_tuple = (1, 2, 3)
my_tuple

(1, 2, 3)

In [2]:
print(type(my_tuple))

<class 'tuple'>

In [3]:
my_tuple[0]

1

In [4]:
my_tuple[0] = 4

TypeError: 'tuple' object does not support item assignment

In [5]:
# list to tuple
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
my_tuple

(1, 2, 3, 4, 5)

In [6]:
# string to tuple
my_string = 'hello'
my_tuple = tuple(my_string)
my_tuple

('h', 'e', 'l', 'l', 'o')

In [8]:
# length of tuple
len(my_tuple)

5

In [9]:
my_tuple = tuple(my_list)
my_tuple

(1, 2, 3, 4, 5)

In [10]:
# concatenation
new_tuple = my_tuple + (6, 7)
new_tuple

(1, 2, 3, 4, 5, 6, 7)

In [11]:
# repetition
rep_tuple = my_tuple * 2
rep_tuple

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [12]:
# Iteration
for item in my_tuple:
    print(item)

1
2
3
4
5

In [13]:
my_tuple = (1, 2, 3)
my_tuple

(1, 2, 3)

In [14]:
my_tuple[0]

1

In [15]:
a, b, c = my_tuple
a

1

In [16]:
b

2

In [17]:
c

3

In [19]:
# unpacking the values in a tuple
a, b, c = (3, 7, 9)
a

3

In [20]:
b

7

In [21]:
c

9

In [22]:
# Comparison operators
(1, 2, 3) < (1, 2, 4)

True

In [23]:
(1, 2, 3) > (1, 2)

True

In [24]:
(1, 2, 3) == (1, 2, 3)

True

In [25]:
(1, 2, 3) != (3, 2, 1)

True

In [26]:
min((100, -1, 2, 60, 90))

-1

In [27]:
max((100, -1, 2, 60, 90))

100

In [28]:
sorted((100, -1, 2, 60, 90))

[-1, 2, 60, 90, 100]

In [29]:
my_tuple = (1, 'hello', [1, 2, 3])
my_tuple

(1, 'hello', [1, 2, 3])

In [30]:
my_tuple = (1, 2, (3, 4))
my_tuple

(1, 2, (3, 4))

In [33]:
my_tuple = (100, -1, 2, 60, 90, 2, 3, 2)

In [34]:
my_tuple.index(-1)

1

In [35]:
my_tuple.count(2)

3

In [36]:
new_tuple = my_tuple[:2] + (-6, -9, -100) + my_tuple[2:]
new_tuple

(100, -1, -6, -9, -100, 2, 60, 90, 2, 3, 2)

In [38]:
my_list = list(new_tuple)
my_list

[100, -1, -6, -9, -100, 2, 60, 90, 2, 3, 2]

In [39]:
my_list[5] = 7
my_list

[100, -1, -6, -9, -100, 7, 60, 90, 2, 3, 2]

In [40]:
def my_function(x, y):
    return x + y, x - y

In [41]:
result = my_function(5, 8)
result

(13, -3)

In [42]:
my_tuple = (1, 2)
sum(my_tuple)

3

In [44]:
print(sum(*my_tuple))

TypeError: 'int' object is not iterable

In [45]:
def my_func(a, b, c):
    return a + b + c

my_tuple = (1, 2, 3)
my_func(*my_tuple)

6

In [46]:
for index, value in enumerate(my_tuple):
    print(f'Index: {index}, Value: {value}')

Index: 0, Value: 1
Index: 1, Value: 2
Index: 2, Value: 3