In [1]:
# creating an empty dictionary
my_dict = {}

In [2]:
# creating a dictionary with initial values
my_dict = {'name': 'Bhanu', 'age': 32, 'city': 'Bangalore'}
my_dict

{'name': 'Bhanu', 'age': 32, 'city': 'Bangalore'}

In [3]:
# creating a dictionary using the dict() constructor
my_dict = dict(name='John', age=25, city='London')
my_dict

{'name': 'John', 'age': 25, 'city': 'London'}

### Access value using key

In [4]:
my_dict['name']

'John'

In [5]:
my_dict['age']

25

In [6]:
my_dict['city']

'London'

In [7]:
my_dict = {'name': 'John', 'age': 25, 'marks': {'math': 90, 'science': 98}}
my_dict

{'name': 'John', 'age': 25, 'marks': {'math': 90, 'science': 98}}

In [9]:
my_dict['marks']['science']

98

In [10]:
my_dict = {'name': 'John', 'age': 25, 
           'marks': {'finals': {'math': 90, 'science': 98}, 
                     'pre-finals': {'math': 94, 'science': 94}}}
my_dict

{'name': 'John',
 'age': 25,
 'marks': {'finals': {'math': 90, 'science': 98},
  'pre-finals': {'math': 94, 'science': 94}}}

In [13]:
my_dict['marks']['pre-finals']['math']

94

In [15]:
my_dict.keys()

dict_keys(['name', 'age', 'marks'])

In [16]:
my_dict.values()

dict_values(['John', 25, {'finals': {'math': 90, 'science': 98}, 'pre-finals': {'math': 94, 'science': 94}}])

In [17]:
my_dict.items()

dict_items([('name', 'John'), ('age', 25), ('marks', {'finals': {'math': 90, 'science': 98}, 'pre-finals': {'math': 94, 'science': 94}})])

In [18]:
my_dict

{'name': 'John',
 'age': 25,
 'marks': {'finals': {'math': 90, 'science': 98},
  'pre-finals': {'math': 94, 'science': 94}}}

In [19]:
# adding an item to the dictionary
my_dict['gender'] = 'Male'
my_dict

{'name': 'John',
 'age': 25,
 'marks': {'finals': {'math': 90, 'science': 98},
  'pre-finals': {'math': 94, 'science': 94}},
 'gender': 'Male'}

In [20]:
# adding an item to the dictionary
my_dict['city'] = 'London'
my_dict

{'name': 'John',
 'age': 25,
 'marks': {'finals': {'math': 90, 'science': 98},
  'pre-finals': {'math': 94, 'science': 94}},
 'gender': 'Male',
 'city': 'London'}

In [21]:
# modifying an item in the dictionary
my_dict['city'] = 'New York'
my_dict

{'name': 'John',
 'age': 25,
 'marks': {'finals': {'math': 90, 'science': 98},
  'pre-finals': {'math': 94, 'science': 94}},
 'gender': 'Male',
 'city': 'New York'}

In [22]:
# Delete item from the dictionary
del my_dict['city']
my_dict

{'name': 'John',
 'age': 25,
 'marks': {'finals': {'math': 90, 'science': 98},
  'pre-finals': {'math': 94, 'science': 94}},
 'gender': 'Male'}

In [23]:
my_list = [{'name': 'John', 'age': 25, 'city': 'New York'},
          {'name': 'Jane', 'age': 30, 'city': 'Chicago'},
          {'name': 'Bob', 'age': 35, 'city': 'New York'}]

group_by_city = {}

for item in my_list:
    if item['city'] in group_by_city:
        group_by_city[item['city']].append(item)
    else:
        group_by_city[item['city']] = [item]
        
group_by_city

{'New York': [{'name': 'John', 'age': 25, 'city': 'New York'},
  {'name': 'Bob', 'age': 35, 'city': 'New York'}],
 'Chicago': [{'name': 'Jane', 'age': 30, 'city': 'Chicago'}]}

In [25]:
for key in my_dict.keys():
    print(key)

name
age
marks
gender

In [26]:
for value in my_dict.values():
    print(value)

John
25
{'finals': {'math': 90, 'science': 98}, 'pre-finals': {'math': 94, 'science': 94}}
Male

In [27]:
for key, value in my_dict.items():
    print(key, value)

name John
age 25
marks {'finals': {'math': 90, 'science': 98}, 'pre-finals': {'math': 94, 'science': 94}}
gender Male

### using `iter()`

In [28]:
key_iterator = iter(my_dict)
print(next(key_iterator))

name

In [29]:
print(next(key_iterator))

age

In [30]:
print(next(key_iterator))

marks

In [31]:
print(next(key_iterator))

gender

In [32]:
print(next(key_iterator))

StopIteration:

In [33]:
value_iterator = iter(my_dict.values())
print(next(value_iterator))

John

In [34]:
print(next(value_iterator))
print(next(value_iterator))
print(next(value_iterator))

25
{'finals': {'math': 90, 'science': 98}, 'pre-finals': {'math': 94, 'science': 94}}
Male

In [35]:
for index, (key, value) in enumerate(my_dict.items()):
    print(index, key, value)

0 name John
1 age 25
2 marks {'finals': {'math': 90, 'science': 98}, 'pre-finals': {'math': 94, 'science': 94}}
3 gender Male

### while loop

In [36]:
key_iterator = iter(my_dict)

while True:
    try:
        key = next(key_iterator)
        print(key)
        if key == 'gender':
            break
    except StopIteration:
        break

name
age
marks
gender

In [40]:
dict_1 = {'a': 1, 'b': 2}
dict_2 = {'c': 3, 'd': 4}

for key_1, key_2 in zip(dict_1, dict_2):
    print(key_1, key_2)

a c
b d

In [41]:
# {key:value for ...}

In [42]:
keys = ['A','B','C','D','E','F','G','H','I','J','K']
values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

{key : value for key, value in zip(keys, values)}

{'A': 1,
 'B': 2,
 'C': 3,
 'D': 4,
 'E': 5,
 'F': 6,
 'G': 7,
 'H': 8,
 'I': 9,
 'J': 10,
 'K': 11}

In [46]:
{val_1: val_1 * val_2 for val_1 in range(1,11) for val_2 in range(1, 11)}

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60, 7: 70, 8: 80, 9: 90, 10: 100}

In [47]:
original_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
square_dict = {key : value ** 2 for key, value in original_dict.items()}
square_dict

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

## Text Processing Example

In [48]:
text = 'BJP MP Tejasvi Surya was the passenger who opened the emergency door of an IndiGo aircraft, aviation minister Jyotiraditya Scindia confirmed on January 18. Reports earlier had suggested that a passenger had opened the emergency exit of the IndiGo plane after boarding at Chennai airport last month, after which the aircraft was subject to mandatory engineering checks before it flew to Tiruchirapalli. The passenger in question was allegedly Surya, according to media reports. However, IndiGo and the aviation regulator had refused to confirm whether Surya was the passenger involved. The incident occurred while the aircraft was on the ground, Scindia said, adding that Surya accidentally opened the emergency gate and reported it to the crew. The minister said the Lok Sabha MP from Bengaluru South constituency apologised for the incident and for the delay caused before the flight took off.'
text

'BJP MP Tejasvi Surya was the passenger who opened the emergency door of an IndiGo aircraft, aviation minister Jyotiraditya Scindia confirmed on January 18. Reports earlier had suggested that a passenger had opened the emergency exit of the IndiGo plane after boarding at Chennai airport last month, after which the aircraft was subject to mandatory engineering checks before it flew to Tiruchirapalli. The passenger in question was allegedly Surya, according to media reports. However, IndiGo and the aviation regulator had refused to confirm whether Surya was the passenger involved. The incident occurred while the aircraft was on the ground, Scindia said, adding that Surya accidentally opened the emergency gate and reported it to the crew. The minister said the Lok Sabha MP from Bengaluru South constituency apologised for the incident and for the delay caused before the flight took off.'

In [49]:
# count frequency of the words in text
word_freq = {}
for word in text.split():
    if word in word_freq:
        word_freq[word] += 1
    else:
        word_freq[word] = 1
        
word_freq

{'BJP': 1,
 'MP': 2,
 'Tejasvi': 1,
 'Surya': 3,
 'was': 5,
 'the': 15,
 'passenger': 4,
 'who': 1,
 'opened': 3,
 'emergency': 3,
 'door': 1,
 'of': 2,
 'an': 1,
 'IndiGo': 3,
 'aircraft,': 1,
 'aviation': 2,
 'minister': 2,
 'Jyotiraditya': 1,
 'Scindia': 2,
 'confirmed': 1,
 'on': 2,
 'January': 1,
 '18.': 1,
 'Reports': 1,
 'earlier': 1,
 'had': 3,
 'suggested': 1,
 'that': 2,
 'a': 1,
 'exit': 1,
 'plane': 1,
 'after': 2,
 'boarding': 1,
 'at': 1,
 'Chennai': 1,
 'airport': 1,
 'last': 1,
 'month,': 1,
 'which': 1,
 'aircraft': 2,
 'subject': 1,
 'to': 5,
 'mandatory': 1,
 'engineering': 1,
 'checks': 1,
 'before': 2,
 'it': 2,
 'flew': 1,
 'Tiruchirapalli.': 1,
 'The': 3,
 'in': 1,
 'question': 1,
 'allegedly': 1,
 'Surya,': 1,
 'according': 1,
 'media': 1,
 'reports.': 1,
 'However,': 1,
 'and': 3,
 'regulator': 1,
 'refused': 1,
 'confirm': 1,
 'whether': 1,
 'involved.': 1,
 'incident': 2,
 'occurred': 1,
 'while': 1,
 'ground,': 1,
 'said,': 1,
 'adding': 1,
 'accidentally': 1,
 'gate': 1,
 'reported': 1,
 'crew.': 1,
 'said': 1,
 'Lok': 1,
 'Sabha': 1,
 'from': 1,
 'Bengaluru': 1,
 'South': 1,
 'constituency': 1,
 'apologised': 1,
 'for': 2,
 'delay': 1,
 'caused': 1,
 'flight': 1,
 'took': 1,
 'off.': 1}

In [53]:
list(filter(lambda x: x if x > 2 else 0, word_freq.values()))

[3, 5, 15, 4, 3, 3, 3, 3, 5, 3, 3]