# Set

**Good points about sets in Python:**

1. Sets are very efficient for checking whether an item is contained in the set or not. This is known as `membership testing` and has an average time complexity of O(1).
2. Sets are unordered collections of unique elements, which means that duplicates are automatically removed. This can be useful for tasks such as removing duplicates from a list.
3. Sets can be used to perform mathematical set operations such as union, intersection, and difference.
4. Sets in Python are mutable and support various methods such as add, remove, and clear.
5. Sets in python are implemented using hash tables making them very fast for most operations

**Bad points about sets in Python:**

1. Sets are unordered collections which means they don't have any indices. So you can't access the elements by their index.
2. Sets elements are immutable, which means you cannot change an element once it has been added to the set.
3. Sets don't support slicing or concatenation.
4. Sets have a slightly more complex syntax than lists or tuples.
5. Sets are not suitable for storing elements that are unhashable, such as dicts or lists.

In [3]:
my_set = {1, 2, 2, 3, 4}
my_set

{1, 2, 3, 4}

In [4]:
# creating set of integers
employee_ids = {1001, 1002, 1003, 1004, 1005}
print(f'Employee IDs: {employee_ids}')

Employee IDs: {1001, 1002, 1003, 1004, 1005}

In [5]:
print(type(employee_ids))

<class 'set'>

In [10]:
if type(employee_ids) == set:
    print('yes')

yes

In [11]:
# creating set of strings
string_set = {'A', 'B', 'C', 'D'}
print(f'Alphabets: {string_set}')

Alphabets: {'D', 'C', 'B', 'A'}

In [12]:
# creating a set of mixed data types
mixed_set = {1, 3.0, 'hi', True, None}
print(f'Mixed Set: {mixed_set}')

Mixed Set: {None, 1, 3.0, 'hi'}

In [15]:
# dict or set?
empty_dict = {}

In [16]:
print(type(empty_dict))

<class 'dict'>

In [17]:
# create an empty set
empty_set = set()
print(type(empty_set))

<class 'set'>

In [18]:
numbers = {21, 67, 89, 43, 56}
numbers

{21, 43, 56, 67, 89}

In [19]:
# add item to set
numbers.add(45)
numbers

{21, 43, 45, 56, 67, 89}

In [20]:
# add item to set
numbers.add(98)
numbers

{21, 43, 45, 56, 67, 89, 98}

In [21]:
nums = [53, 26, 76, 66]
nums

[53, 26, 76, 66]

In [22]:
numbers.update(nums)
numbers

{21, 26, 43, 45, 53, 56, 66, 67, 76, 89, 98}

In [23]:
# removing element from a set
numbers.discard(66)
numbers

{21, 26, 43, 45, 53, 56, 67, 76, 89, 98}

In [24]:
numbers = numbers + {1, 2, 3}
numbers

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [25]:
numbers.update({1, 2, 3})
numbers

{1, 2, 3, 21, 26, 43, 45, 53, 56, 67, 76, 89, 98}

In [30]:
my_list = [1, 3, 3, 5, 5, 6, 7, 8, 8, 9, 9, 2, 3, 4, 11, 'a', 'b']

In [31]:
wo_diplicates = list(set(my_list))
wo_diplicates

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'b', 11, 'a']

In [32]:
fruits = {'apple', 'mango', 'banana', 'peach'}

for fruit in fruits:
    print(fruit)

mango
apple
peach
banana

In [33]:
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 mango
1 apple
2 peach
3 banana

In [37]:
A = {1, 6, 8, 5}
B = {0, 5, 3, 4}

In [38]:
# union
A | B

{0, 1, 3, 4, 5, 6, 8}

In [39]:
A.union(B)

{0, 1, 3, 4, 5, 6, 8}

In [40]:
# intersection
A & B

{5}

In [41]:
A.intersection(B)

{5}

In [42]:
# Difference
A - B

{1, 6, 8}

In [43]:
B - A

{0, 3, 4}

In [44]:
# symmetric difference
A ^ B

{0, 1, 3, 4, 6, 8}

In [45]:
A.symmetric_difference(B)

{0, 1, 3, 4, 6, 8}